* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(93, 93, 159);
}

header {
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: rgb(232, 225, 214);
}

main {
    display: flex; 
    justify-content: center
}

form {
    width: 350px;
    height: 350px;
    background-color: rgb(232, 225, 214);
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
}

button {
    background-color: grey;
    width: 75px;
    height: 40px;
    color: rgb(232, 225, 214);
    border: none;
    margin: 5px;
}

input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: rgb(232, 225, 214);
}

#ratings-container {
    width: 85%;
}

#radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.activity-cover {
    width: 500px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.activity-card {
    background-color: rgb(232, 225, 214);
    width: 500px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activity-title {
    font-size: 18px;
    margin: 5px 0;
}

.activity-rating {
    font-size: 15px;
    margin: 5px 0;
}

.btns-container {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.btns-container > button {
    width: 30px;
}

